<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Travel Journal</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <h1>My Travel App</h1>
      <br />
      <h6>The 3 W's of travelling: Where, When and Weather</h6>
    </header>
    <div class="container-fluid" id="main-container">
      <!-- destination container -->
      <div class="card">
        <div class="card-header">
          <h3>Destination?</h3>
        </div>
        <div id="destination-card-body" class="card-body">
          <form class="destination-form" id="destination-form">
            <input
              id="city"
              type="text"
              name="city"
              class="destination input"
              placeholder="destination"
            />
            <label for="travel-date" class="travel-date">Date of travel:</label>
            <input
              type="date"
              id="travel-date"
              name="travel-date"
              class="travel-date input"
            />

            <button id="destination-button" type="submit">Submit</button>
          </form>
        </div>
        <div class="card-footer footer-text">
          <p>
            * historical weather data avilable up until 40+ years in the past<br />
            * future forecast available for up to 1.5 years in the future
          </p>
        </div>
      </div>
      <!-- weather container -->
      <div class="card" id="weather-card">
        <div class="card-header">
          <h3>How's the weather?</h3>
        </div>
        <div id="weather-card-body" class="card-body">
          <div id="weather-details">
            <div id="weather-city"></div>
            <div id="weather-date"></div>
            <div id="weather-temperature"></div>
            <div id="weather-clouds"></div>
            <div id="weather-rainfall"></div>
            <div id="weather-icon"></div>
          </div>
        </div>
        <div class="card-footer footer-text">
          <p>
            * cloud and rainfall are measured as averages throughout the day
          </p>
        </div>
      </div>
    </div>
    <!-- <script src="../app.js"></script> -->
    <script src="./bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
