<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
      <title>Travel Journal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="../styles/main_stylesheet.css" rel="stylesheet"/>
  </head>
  <body>
  <div class = "container">
    <div class="box" id="header">
      <header class="title"><h1>My Travel Journal</h1></header>
    </div>
    <div class="box" id="one">
      <article class="cover_photo"><img src="../images/travel_camper.jpg" alt="camper van on the Californian coast"></article>
      <article class="cover_text"><p><q>Loved the game. Loved the series. Patiently awaiting second season.</q></p></article>
    </div>
    <aside class="author" id="four"><h2>The Author</h2>
      <section class="info">
        <ul>
          <li id="name">list item</li>
          <li id="company">list item</li>
          <li id="country">list item</li>
        </ul>
      </section>
      <section class="bio">
        <p> paragraph
        </p>
      </section>
      </section>
    </aside>
    <div class="box" id="footer"><a href="blog_homepage.html">Return to homepage</a></div>
  </div>
  </body>
</html>
