@import "headings.css";
@import "body.css";
@import "paragraph.css";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.destination-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  text-align: center;
  background-color: #f7f7f8;
  height: 300px;
}

img {
  max-width: 50%;
  max-height: auto;
}

.weather-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  margin: 10px;
  padding: 20px;
  background-color: #f7f7f8;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}
