@import "headings.css";
@import "body.css";
@import "paragraph.css";
@import "destination-form.css";
@import "weather-display.css";

.header {
  height: 10vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.destination-container {
  width: 40%;
}

.weather-container {
  width: 40%;
}
