body {
  background-image: url("../media/travel_camper.jpg");
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.25
  ); 
} */

/* HEADER STYLES */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7ab4d;
  height: 20vh;
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
}

.header h1 {
  margin: 0;
}

header h6 {
  margin: 0;
}

/* CONTAINER STYLES */

#main-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  width: 100%;
  margin: 0;
}

/* CARD STYLES */

.card {
  width: 45%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom right, #73d7ff, #55ceff);
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0);
}

.card-body {
  height: 40vh;
  padding: 0;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  padding: 10px;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0);
}

.footer-text {
  font-size: 12px;
  color: #666;
  bottom: 10px;
}

@media screen and (max-width: 991px) {
  .footer-text {
    font-size: 10px;
  }
}

/* DESTINATION FORM STYLES */

.destination-form {
  max-width: 400px;
  margin: 0 auto;

  padding: 20px;
  border-radius: 8px;
}

.destination-form h3 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.destination {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.travel-date {
  display: block;
  margin-bottom: 5px;
  color: #495057;
}

.input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

#destination-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#destination-button:hover {
  background-color: #0056b3;
}

/* WEATHER CARD STYLES */

#weather-card-body {
  max-width: 400px;
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

#weather-details {
  text-align: center;
  margin-bottom: 20px;
}
